body {
    background-image: url('janko-ferlic-174927-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.App {
    text-align: center;
}

.Booklist {
    list-style: none;
    /* may want to change this later: */
    margin: 10px;
}

.profile {
    text-align: left;
    left: 10px;
}


/* .logoutbutton {
    position: absolute;
    top: 10px;
    right: 10px;
} */